In [1]:
%cd ..

C:\Users\User\Documents\Isep\data_analysis\SHealth

In [2]:
from main import Shealth

Dates columns are ready to be used
Successful data preprocessing

In [3]:
shealth = Shealth()

In [4]:
shealth.data_set

,day,date,weight,steps,walk_duration,sport_duration,spent_energy,country_name,week,average_speed,delta_weight,delta_steps
date,,,,,,,,,,,,
2015-06-03,Wednesday,2015-06-03,68.0,6178.0,70,6,354,France,2015-22,3.121516,0.0,0.0
2015-06-04,Thursday,2015-06-04,68.8,8342.0,72,11,465,France,2015-22,3.859431,0.8,2164.0
2015-06-05,Friday,2015-06-05,68.7,10048.0,91,40,722,France,2015-22,2.945368,-0.1,1706.0
2015-06-06,Saturday,2015-06-06,68.6,6593.0,55,0,270,France,2015-22,4.603113,-0.1,-3455.0
2015-06-07,Sunday,2015-06-07,69.0,1417.0,12,0,71,France,2015-23,4.534400,0.4,-5176.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-30,Friday,2016-12-30,71.1,3114.0,30,0,126,France,2016-52,3.985920,-0.1,-1975.0
2016-12-31,Saturday,2016-12-31,71.4,3498.0,32,0,153,France,2016-52,4.197600,0.3,384.0
2017-01-02,Monday,2017-01-02,70.9,2229.0,19,0,89,France,2017-01,4.504926,-0.5,-1269.0
2017-01-10,Tuesday,2017-01-10,71.7,5429.0,49,0,242,France,2017-02,4.254563,0.8,3200.0
2017-01-18,Wednesday,2017-01-18,71.8,7545.0,68,1,311,France,2017-03,4.198957,0.1,2116.0

In [5]:
shealth.data_set_description

,weight,steps,walk_duration,sport_duration,spent_energy,average_speed,delta_weight,delta_steps
count,575.000000,575.000000,575.000000,575.000000,575.000000,575.000000,575.000000,575.000000
mean,70.557043,7984.365217,73.994783,4.695652,374.401739,3.910416,0.006609,2.377391
std,0.962384,6294.676728,46.419744,13.437281,235.327040,2.057390,0.356754,8237.131259
min,68.000000,7.000000,1.000000,0.000000,4.000000,0.029867,-1.300000,-96035.000000
25%,69.800000,5149.500000,49.000000,0.000000,239.500000,3.849389,-0.200000,-3355.500000
50%,70.600000,7742.000000,70.000000,0.000000,353.000000,4.088503,0.000000,-73.000000
75%,71.300000,10304.500000,96.000000,1.000000,482.500000,4.223654,0.200000,3599.000000
max,72.600000,107222.000000,271.000000,113.000000,1393.000000,39.212617,1.200000,100439.000000

In [8]:
shealth.group_by_country_name_count

,steps_mean,measure_count,average_speed,data_min,date_max,calories,sport_duration,min_weight,max_weight
country_name,,,,,,,,,
France,7532.259615,520,3.863704,2015-06-03,2017-01-18,350.084615,3.636538,68.0,72.6
Japan,16185.266667,15,4.822258,2015-11-10,2016-10-24,848.733333,4.600000,69.6,71.5
Morocco,5678.750000,12,3.352861,2016-05-21,2016-12-23,372.750000,15.083333,70.5,71.9
Spain,7292.666667,12,2.455558,2015-08-02,2015-08-13,713.166667,46.583333,68.1,69.2
Ireland,10667.250000,8,3.879997,2015-07-11,2015-07-18,445.000000,0.000000,69.8,69.8
Germany,41560.000000,3,15.691397,2015-11-28,2015-11-30,385.000000,0.000000,68.7,69.3
South Korea,18187.333333,3,3.765454,2015-11-07,2015-11-09,765.000000,0.000000,69.9,70.0
Belgium,7170.000000,1,4.302000,2015-10-18,2015-10-18,300.000000,0.000000,69.5,69.5
Qatar,4049.000000,1,3.615851,2015-11-16,2015-11-16,165.000000,0.000000,70.0,70.0